- hosts: rails
  remote_user: root
  vars:
    server:
      allow_ports:
        - 22
        - 80
        - 10050
    zabbix:
      server: <zabbix server>
      host_metadata: <zabbix metadata>
    rbenv:
      ruby_version: 2.2.1
    mysql:
      db: <db>
      user: <user>
      password: <password>
    rails:
      url: <url>
      dir: '/var/www/my_app_name'
      secret_key_base: <key>
  roles:
    - server
    - mysql
    - zabbix-agent
    - rails

